<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fark Data Scraper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #318dc3;
      height: 100%;
      overflow: auto;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>
  
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    <textarea class="form-control" rows="6"></textarea>
    <button type="button" class="btn btn-default btn-lg" id="commentBtn">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Post Comment
</button>
    </div>
    <div class="col-sm-8 text-left">
      <h1>Scraped Articles</h1>
      <p>Articles scraped from Fark.com</p>
      <ul>
        {{#each articles}}  
        <li>
          <p><a href="{{this.url}}"><h3><span class="label" data-id="{{this._id}}" data-value="{{@index}}">Article Title:</span> {{this.title}}</h3></a></p>
        </li>
        {{/each}} 
      </ul>
    </div>
    <div class="col-sm-2 sidenav">
     <p>Comments</p>
      <div class="well" id="commentWell">
      </div>
      </div>
    </div>
  </div>
</div>

</body>
<script type="text/javascript">
$(document).on('click', '#commentBtn', function(){
    var thisId = $(this).attr('data-id');
    $.ajax({
      type: "GET",
      url: '/markread/' + thisId,
    });
    $(this).parents('tr').remove();
    getRead();
});

</script>
</html>

